.git* export-ignore
.gitlab-ci.yml export-ignore
bitbucket-pipelines.yml export-ignore
.vscode export-ignore
.idea export-ignore
.editorconfig export-ignore
phpunit.xml export-ignore
tests/ export-ignore
/node_modules/ export-ignore
/dist/ export-ignore
/build export-ignore
*.zip export-ignore
/vendor/ export-ignore
composer.lock export-ignore
*.log export-ignore
TEST*.xml export-ignore
.DS_Store export-ignore
Thumbs.db export-ignore
*.app export-ignore
*.exe export-ignore
*.war export-ignore
*.mp4 export-ignore
*.tiff export-ignore
*.avi export-ignore
*.flv export-ignore
*.mov export-ignore
*.wmv export-ignore
